body{
    margin: 0;
    /* background-color: oldlace; */
    font-family: sans-serif;
}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}
#newContact{
    background-color: aquamarine;
}
.contact{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 5px;
}